<h1>Pirates</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <p>Weight: <%= @pirate.weight %> pounds</p><br>
  <p>Height: <%= @pirate.height %> inches</p>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
<div class="ship">
  <p>Name: <%= ship.name %></p><br>
  <p>Type: <%= ship.type %></p><br>
  <p>Booty: <%= ship.booty %></p>
</div><br>
<% end %>